body{
    background-color: #04aecb;
}
#parent {
background-color:white;
margin: 30px 20px;
box-shadow: 0px 0px 10px;
height: 57pc;
}

#pro_pic{
height:300px;
width:300px;
border-radius:50%;
position:relative;

}
#name1{
position:relative ;
left:17px;
top:-8px;
font-family: "Whitney SSm A", "Whitney SSm B", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
font-size:26px;
color:white;
letter-spacing: 5px;
text-shadow: 0px 0px 8px;
}
#span1,#span2,#span3{
font-size:20px;
padding:30px 40px;
}
.label1,.label2{
left:45px;
position:relative;
top:-25px;
font-family:'Josefin Sans', sans-serif;
    line-height:30px;
    color: #4c565a;
    font-weight: bold;
}
p{
transition: all 1s;
backface-visibility: hidden;
width: 23pc;
word-wrap: break-word;
}
#header {
         position: fixed;
    width: 300px;
    height: 324px;
    padding: 40px;
    left: 542px;
    top: 80px;
    margin: 10px;
    border: hidden;
    border-top-left-radius: 49%;
    border-top-right-radius: 49%;
    background-color: #04aecb;
    z-index: 1;
}
#links {
    height: auto;
    width: auto;
    position: absolute;
    left: 1020px;
    top:87px;

}
.social{
    margin: 30px;
}
#contact {
    font-size: 40px;
}
#title1,#title2,#title3{
    font-weight:lighter;
    background-color:#04aecb ;
    width: 274px;
    padding: 8px;
    border-radius: 33%;
    border-top-left-radius:0px;
    border-bottom-right-radius:0px;
    color: white;
    font-family: 'raleway';
}
#title2{
    width:192px;
}
#title3{
     width:190px;
}

#contact{
    background-color: #04aecb;
    border-bottom-left-radius:25%;
    border-bottom-right-radius:25%;
     padding: 40px 20px 5px 20px;
     color:white;
     font-family: 'Cairo';
     font-size: 37px;
     position: relative;
     left: 11px;
     bottom: 17px;
}

li,p{
    font-family:'Josefin Sans', sans-serif;
    line-height:30px;
    color: #4c565a;
    font-weight: bold;
    position: relative;
    }
    
#searchInput{
    position: relative;
    top: 11px;
    width: 364px;
    right: -8px;
    padding: 10px 20px;
}
#containerOfSearch{
    background-color: #04aecb;
    position: relative;
    top: 8px;
    width: 380px;
    right: 40px;
    height: 60px;
}
#edit{
font-size: 17px;
background-color: #dedede;
border: 0px;
box-shadow: -3px 0px 0px;
height: 35px;
width: 3pc;
margin-left: 10pc;
position: absolute;
bottom: 168px;
transition: all .5s;
}
#span3{
    padding: 0px 40px;
}
#textarea{
    position: absolute;
top: 31pc;
right: 58pc;
width: 19pc;
border-color: #289F9F;
border-width: 2px;
border-style: dashed;
font-size: 17px;
padding: 0px 15px;
float: left;
height: 5pc;
transition: all 1s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    resize: none;
    
}
#sub_search{
    position: relative;
    left: 338px;
    bottom: 23px;
    background-color: #04aecb;
    border-width: 0px;
    height: 30px;
    width: 30px;
    font-size: 20px;
}
#resultsOfSearch{
    height: 32pc;
width: 29pc;
background-color: #fafdff;
position: absolute;
bottom: -33pc;
right: -47px;
float: left;
box-shadow: 0px 0px 13px;
border-style: dashed;
border-color: #7264cf;
opacity: 0.0;
padding-left: 25px;
overflow: auto;
}
#change_photo{
    position: absolute;
    height: 8pc;
    width: 8pc;
    top: 8pc;
    left: 8pc;
    display: none;
    transition: all .5s;
}
#footer {
   text-align: center;
background-color: #4c565a;
padding: 25px;
color: #b7b8b9;
width: 15pc;
position: absolute;
top: 53pc;
margin-left: 19px;
}
#d-line1,#d-line2,#d-line3 {
    background-color: #04aecb;
    height: 4px;
    width: 4pc;
    position: relative;
    float: left;
    top: 2pc;
    right: 40px;
}

#d-line3 {
    top: 8px;
}
#drawingPage{
   background-image: url('img/cover.jpg');
background-position: -3px -85px;
height: 50px;
right: -52px;
text-align: center;
color: black;
font-size: 18px;
padding-top: 17PX;
position: absolute;
width: 311px;
bottom: -177px;
}
#not_connected {
    top: -6px;
    position: relative;
    height: 14px;
    border-radius: 50%;
    width: 14px;
    border: 0px;
    left: 3px;
    background-color: #878484;
}
.portrait {
    display: block;
width: 27pc;
margin-bottom: 7px;
}
#linefooter {
    height: 2px;
width: 290px;
background-color: #4c565a;
margin-left: 19px;
bottom: -13pc;
position: absolute;
}
#cover {
    background: url('img/background-Cover.jpg');
background-size: 34pc 50%;
background-repeat: repeat-y;
background-position-x: 27pc;
height: 57pc;
}
